<mat-accordion multi="true">
  @if (reports.length > 0) {
    @for (report of reports; track report.report) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="report-row">
              <span class="cell machine">{{ report.machine }}</span>
              <span class="cell code">{{ report.report }}</span>
              <span class="cell hours">{{ report.engineHours }}h</span>
              <span class="cell country">{{ report.country }}</span>
              <span class="cell status">{{ report.status }}</span>
              <span class="cell date">{{ report.repairDate.slice(0, 10) }}</span>
              <span class="cell part">{{ report.partName }}</span>
              <span class="cell price">US$ {{ report.grossLaborParts | number:'1.2-2' }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          {{ report.failure }} {{ report. remedy }} {{ report.longTextExtra }}
        </p>
        <mat-action-row>

        </mat-action-row>
      </mat-expansion-panel>
    }
  } @else {
    <p>No reports available.</p>
  }
</mat-accordion>
