
.report-row {
  display: grid;
  grid-template-columns:
    9ch   /* machine */
    9ch   /* code */
    5ch    /* hours */
    5ch   /* country */
    25ch   /* status */
    10ch   /* date */
    29ch    /* part name expands */
    12ch  /* price */
     8em; /* team */
  gap: 0.5rem;
  align-items: center;
}


